/* global.css */
@import "elements.scss";
@tailwind base;
@layer base {
    .default-spacing {
        max-width:1200px;
        @apply p-2 md:px-12 m-auto md:w-3/4;
    }

    h1 {
        @apply py-16 text-4xl lg:text-6xl font-lato tracking-wider;
    }

    h2 {
        @apply py-10 text-2xl lg:text-4xl font-semibold font-lato tracking-wider;
    }

    h3 {
        @apply py-10 text-3xl lg:text-5xl font-lato tracking-wider;
    }

    h4 {
        @apply py-8 text-2xl lg:text-3xl font-lato tracking-wider;
    }

    p {
        @apply py-8 text-xl font-lato tracking-wider;
    }

    a {
        @apply hover:font-normal;
    }

    html {
        min-height: 100%;
        position:relative;
        overflow:auto;
        @apply font-lato tracking-wider text-complementary-dark;

    }
    body {
        height:100%;
    }
    #content {
        height: 100%;
        padding-top:5rem;

    }
    #footer{
        bottom:0;
        height:250px;
    }

    hr {
        border: none;
        border-top: 2px dotted #9C8E5E;
        @apply h-2;
    }

}



@tailwind components;



@tailwind utilities;




